
@{
    Layout = null;
}
<!DOCTYPE html>
<html>
<head>
	<title>Error</title>
</head>
<body>
	<h1>Oops! Something went wrong.</h1>
	<p>We're sorry, but an error has occurred.</p>
	<p>Please try again later, or contact our support team if the problem persists.</p>
</body>
</html>
